body {
    background-repeat: no-repeat;
    background-position: center;
    background-color: #D3D3D3;
    color: #000;
}

.navbar-laravel {
    background-color: #D3D3D3;
}

.navbar-brand {
    color: #000 !important;
}

.nav-link {
    color: #000 !important;
}



